* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body {
    background: url("./assest/fundo.png") no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Container central */
.container {
    width: 90%;
    max-width: 420px;
    position: relative;
}

/* Título principal */
h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.sub {
    font-size: 1.3rem;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.btn {
    padding: 12px 0;
    border: 2px solid white;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(255,255,255,0.15);
}

/* Tela de cadastro */

/* Papai Noel em cima do card */
.papai-noel {
    width: 160px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: -120px;
    position: absolute;
    z-index: 10;
}

/* Card branco */
.card {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 18px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

/* Título */
.card h1 {
    text-align: center;
    color: #c00000;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

/* Labels */
label {
    display: block;
    text-align: left;
    color: #555;
    margin: 12px 0 5px;
    font-size: 0.95rem;
    padding-bottom: 5px;
}

/* Inputs */
input {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #eee;
    outline: none;
    font-size: 1rem;
    margin-bottom: 13px;
}

input:focus {
    border-color: #c00000;
}

/* Botão */
button {
    width: 100%;
    padding: 14px;
    background: #b30000;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 1.1rem;
    margin-top: 30px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #990000;
}

/* Boneco de neve */
.boneco {
    width: 70px;
    position: absolute;
    right: -20px;
}



/* Tela Familia */

/* Ícones */
.icon {
    width: 22px;
    opacity: 0.6;
}

/* Caixa de entrada */
.input-box {
    background: #ffffff;
    border-radius: 8px;
    width: 311px;
    height: 58px;
    border: 2px solid #eee;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.input-box input {
    border: none;
    background: transparent;
    
    margin-top: 10px;
    font-size: 15px;
    outline: none;
}

/* Adicionar membro */
.add {
    cursor: pointer;
}

.input-box.add {
    cursor: pointer;
    transition: 0.2s;
    color: #555;
}

/* Efeito de hover */
.input-box.add:hover {
    transform: scale(1.02);
}

/* Texto "Adicionar Membro" */
.input-box.add span {
    font-size: 15px;
}

/* Cartão superior */
.card-success {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 243px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.check {
    width: 60px;
    margin-bottom: 10px;
}

.card-success h2 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

.card-success p {
    margin: 5px 0 0;
    color: #555;
}

/* Cartão de mensagem */
.card-message {
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    border-radius: 5px;
    margin: 25px 0;
    color: white;
    font-size: 18px;
    line-height: 1.4;
    backdrop-filter: blur(4px);
}

/* Botão */
.btn {
    padding: 12px;
    font-size: 18px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: lowercase;
}

.btn:hover {
    background: rgba(255,255,255,0.2);
}

/* PAPAI NOEL */
.santa {
    width: 130px;
    position: absolute;
    top: 65px;
    left: -16px;
    z-index: 10;
}

/* BONECO DE NEVE */
.snowman {
    width: 100px;
    position: absolute;
    bottom: 20px;
    right: -10px;
    z-index: 10;

}
